<div class="post">
    <div class="title">
        <%= link_to h(simple_post.title), post_path(simple_post) %> <a href="#" class="type">Entry</a>
    </div>
    <div class="bottom"><span>07/02/2009</span>, <a href="#" class="tag">rojo</a></div>
</div>
