	<div id="posts">
		<div class="post">
			<h2 class="title"><%= link_to @post.title, post_path %></h2>
			<div class="detail clearfix">
				<div class="date">
					<span>2009-10-10</span>
				</div>
				<div class="categories">
					<label>Categories:</label>
					<span>design,rojo,ruby</span>
				</div>
			</div>
			<div class="post_content">
				<%= Textilizer.new(@post.content).to_html %>
			</div>
			<div class="comments">
				<h3> 7 Comments</h3>
				<ul>
					<li>
						<div class="comment clearfix">
							<div class="commentor">
								<a href="#">Jonh Smith</a>
							</div>
							<div class="comment_c">
								<p>Hello, it's sounds cool!</p>
							</div>
						</div>
					</li>
					<li>
						<div class="comment clearfix">
							<div class="commentor">
								<a href="#">Jonh Smith</a>
							</div>
							<div class="comment_c">
								<p>Hello, it's sounds cool!</p>
							</div>
						</div>
					</li>
					<li>
						<div class="comment clearfix">
							<div class="commentor">
								<a href="#">Jonh Smith</a>
							</div>
							<div class="comment_c">
								<p>Hello, it's sounds cool!</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="new_comment">
				<form action='#'>
					<h4>Leave Your Comment:</h4>
					<div class="field clearfix">
						<label>Name:</label>
						<input type="text" class="text"></input>
					</div>
					<div class="field clearfix">
						<label>Website:</label>
						<input type="text" class="text"></input>
					</div>
					<div class="field clearfix">
						<label>Email:</label>
						<input type="text" class="text"></input>
					</div>
					<div class="field clearfix">
						<label class="comment_content">Content:</label>
						<textarea cols="40" rows="7" class="text"></textarea>
					</div>
					<div class="field clearfix">
						<input type="submit" value="Submit comment" class="submit"></input>
					</div>
				</form>
			</div>
		</div>